* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: goldenrod;
}

button {
    border: none;
    background: none;
}

:root {
    --main-color: #EA7F42;
    --text-color: #767676;
}

/* 공통 스크린 화면 */
.screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 390px;
    height: 844px;
    background-color: #fff;
}

/* 로그인 혹은 회원가입 화면 */
.login {
    background-color: var(--main-color);
}

.login-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

img.symbol-logo {
    margin: auto;
    width: 144px;
    height: 144px;
}

/* 로그인 계정 */

.login-account-container {
    padding-top: 50px;
    width: 390px;
    height: 330px;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
}

ul.login-account {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    list-style: none;
}

.login-account li button {
    padding: 13px 87px 13px 87px;
    width: 322px;
    height: 44px;
    border-radius: 44px;
    background-color: #fff;
    color: var(--text-color);
}

.kakao-account {
    background-image: url(./img/message-circle.svg);
    background-repeat: no-repeat;
    background-position: 17px center;
    border: 1px solid #F2C94C;
}

.google-account {
    background-image: url(./img/google-logo.svg);
    background-repeat: no-repeat;
    background-position: 17px center;
    border: 1px solid #767676;
}

.facebook-account {
    background-image: url(./img/facebook.svg);
    background-repeat: no-repeat;
    background-position: 17px center;
    border: 1px solid #2D9CDB;
}

.login-signin {
    text-align: center;
    margin-top: 20px;
}

.login-signin button {
    background-color: #fff;
    border: none;
    color: var(--text-color);
}

.login-email::after {
    content: "|";
    margin: 0 10px;
    color: var(--text-color);
}

/* 마이 프로필 화면  */
section.profile {
    display: flex;
    flex-direction: column;
}

    /* top-basic-nav */
.top-basic-nav {
    width: 100%;
    height: 48px;
}

.top-basic-nav-li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.previous-btn {
    background-image: url(./img/icon-arrow-left.svg);
    width: 22px;
    height: 22px;
}

.more-btn {
    background-image: url(./img/icon-\ more-vertical.svg);
    width: 24px;
    height: 24px;
}

    /* 프로필 */
.profile-container {
    height: 362px;
    width: 100%;
}
    /* 프로필 header */

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 41px;
}

.followers, .followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* 프로필 main */
.profile-main {
    text-align: center;
}

    /* 프로필 footer */
.profile-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profile-footer button {
    border: 1px solid #dbdbdb;
    border-radius: 30px;
}

.dm-btn, .share-btn {
    width: 34px;
    height: 34px;
}

.dm-btn {
    background: url(./img/icon-message-circle.svg) no-repeat;
}

.unfollow-btn {
    padding: 8px 34px 8px 34px;
}

.share-btn {
    background: url(./img/icon-share.svg) no-repeat;
}

    /* article - 홈 포스트 화면 */
article {
    background-color: #f2f2f2;
    width: 100%;
    height: 422px;
}

.tab-menu {
    height: 60px;
    
}

    /* tab-menu 아래 바  */
ul.tab-menu-list {
    list-style: none;
    display: flex;
    gap: 14px;
}

.tab-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 60px;
}

.tab-menu-container button {
    width: 24px;
    height: 24px;
}

.tab-home-fill-btn {
    background: url(./img/icon-home-fill.svg) no-repeat;
}

.tab-message-btn {
    background: url(./img/icon-message-circle.svg) no-repeat;
}

.tab-post-btn {
    background: url(./img/icon-edit.svg) no-repeat;
}

.tab-user-btn {
    background: url(./img/icon-user.svg) no-repeat;
}